*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background-color: black;
}
.wrap{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: gray;
}
.header{
    height: 15%;
    text-align: center;
    padding-top: 22px;
}
.main{
    height: 80%;
    display: flex;
}
.controls{
    background-color: rgb(36, 35, 35);
    margin-left: 10%;
    padding: 10px;
    width: 15%;
}
.grid-wrap{
    padding: 15px;
    width: 45%;
    height: 90%;
    margin-left: 20%;
    background-color: blue;
}
.color-card{
    display: flex;
}