@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background-color: black;
    font-family: 'Gamja Flower', sans-serif;
}

.wrap {
    width: 100vw;
    height: 113.5vh;
    display: flex;
    flex-direction: column;
    background-color: gray;
}

.header {
    height: 15%;
    text-align: center;
    padding-top: 22px;
    font-size: 80px;
}
.header > p {
    animation-name: miAnimacio;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes miAnimacio {
    from {color: rgb(4, 0, 255);}
    to {color: rgb(255, 230, 0);}
}

.main {
    height: 80%;
    display: flex;
}

.controls {
    background-color: rgb(36, 35, 35);
    margin-left: 10%;
    padding: 10px;
    width: 15%;
    display: flex;
    flex-direction: column;
}

#grid-wrap {
    padding: 15px;
    margin-left: 140px;
    background-color: blue;
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    /* border: 5px solid rgb(116, 116, 116); */
    border-radius: 5px;
    height: 600px;
    width: 600px;
}

.color-card {
    display: flex;
    align-items: center;
    border: 1px solid navajowhite;
    padding: 10px 0 10px 0;
}

.just-margin {
    margin-bottom: 20px;
}


button {
    padding-left: 10px;
    padding-right: 10px;
    padding: 10px 0 10px 0;
    border: 1px solid navajowhite;

}
  

.square {
    background-color: #ffffff;
    border: 1px solid black;
}
.color {
    background-color: gray;
    border: 1px solid black;
  }

  